* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    /*overflow-x: hidden;*/
}

a{
    font-weight: bold;
}
.navbar-center{
  margin: 0 20% !important;
  
}
.navbar-right{
  margin-right: 100px;
}
.btn{
  margin: 10px 3px;
  border-radius: 50px !important;
}
.btn-success{
  background-color: teal !important;
  border-color: #4cae4c;
}
.navbar-nav>li>a {
  color: black !important;
}
.btn a:hover {
  opacity: 0.8;
  transition: 0.3s ease-out;
}
.glyphicon-user{
  color: white;
  background-color: teal !important;
  padding: 6px 6px;
  border-radius: 100%;
  font-size: 8px;
}
.second-section {
  max-width: 90%;
  margin: 0 auto;
  height: 33rem;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 100px;
  margin-bottom: 50px;
}
.second-section_left {
  position: relative;
}
.second-section_left p {
  font-size: 24px;
  margin-bottom: 80px;
  font-weight: bold;
}
.second-section_left-container {
  position: absolute;
  top: 100px;
  left: 50px;
}
.second-section_left-container a {
  color: #fff;
  background-color: teal;
  padding: 10px 15px;
  border: 20px;
}
.second-section_left-container a:hover {
  opacity: 0.8;
  transition: 0.3s ease-out;
}
.btn2{
  margin: 0 3px;
  background-color: teal !important;
  text-align: center;
  }
  .btn-lg{
    border-radius: 0px !important;
  }
.btn2 a:hover {
  opacity: 0.8;
  transition: 0.3s ease-out;
}
.second-section_right {
  position: relative;
}
.second-section_right img {
  position: absolute;
  top: 20px;
  left: 0px;
  height: 300px;
  width: 700px;
}
.blue {
 
  height: 50px;
  background-color: powderblue;
  text-align: center;
}
/*.third-section{
  height: 50vh;
}*/
.hwt{
  text-align: center;
  background-color:rgb(225, 247, 243);
  height: 160px;
}
.hwt h1{
  font-size: 30px;
  color: teal;
}
.p-tag1{
  padding: 13px 8px 8px 8px;
  background-color: #bfe6f5;
  width: 72px;
  text-align: center;
  border-radius: 50%;
  margin-top:22px
  }
  .p-tag1 p{
    font-weight: bold;
    background: inherit;
    font-size: 27px;
    vertical-align: middle;
    color: #4ba7dd;
  }

  .card {
    
    height:150px;
    margin-left: 30px;
    box-shadow: 5px 10px 8px #888888;
    
  }
.caa{
z-index: 900 !important;
margin-top:-50px;
background: white;

}
  
  .card-body {
    padding:  20px 29px 10px 10px;
    height: inherit
  }

  .desp{
    margin-top:20px;
    
  }

h4{
  color: teal !important;
}


.sponsor{
  text-align: center;
}
.sponsor h1{
  font-size: 30px;
  color: teal;
  padding-bottom: 5px;
  padding-top:70px;
}
.sponsor p{
  font-size: 20px;
  padding-bottom: 40px;
}
.card1 {
    
  height:400px;
  margin-left: 30px;
  box-shadow: 5px 10px 8px #888888;
  
}
.caaa{
  background: #f5ecec;
}
.location {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.location p {
  font-size: 15px;
}
.description {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.description p:first-child {
  color: teal;
  font-size: 15px;
}
.description p:last-child {
  margin-top: -5px;
  font-size: 14px;
  font-weight: bold;
}
.progress{
  background-color: darkgray;
  border-radius: 20px;
  margin: 10px 10px;
}
.progress-bar {
  background-color: teal !important;
  border-radius: 20px;
}
.funding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.funding p {
  font-size: 15px;
}
.funding a {
  color: #fff;
  background-color: teal;
  padding: 7px 20px;
  font-weight: bold;
}
.btn3{
  margin: 10px 3px;
}
.direct{
  color: teal;
    font-family: Gilroy-Bold;
    text-align: center;
    padding-top: 60px;
}
    
