* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    /*overflow-x: hidden;*/
}

a{
    font-weight: bold;
}
.navbar-center{
  margin: 0 20% !important;
  
}
.navbar-right{
  margin-right: 100px;
}
.btn{
  margin: 10px 3px;
  border-radius: 50px !important;
}
.btn-success{
  background-color: #3CB371 !important;
  border-color: #4cae4c;
}
.navbar-nav>li>a {
  color: black !important;
}
.btn a:hover {
  opacity: 0.8;
  transition: 0.3s ease-out;
}
.glyphicon-user{
  color: white;
  background-color: #3CB371 !important;
  padding: 6px 6px;
  border-radius: 100%;
  font-size: 8px;
}
.second-section {
  max-width: 90%;
  margin: 0 auto;
  height: 33rem;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 100px;
  margin-bottom: 50px;
}
.second-section_left {
  position: relative;
}
.second-section_left p {
  font-size: 24px;
  margin-bottom: 80px;
  font-weight: bold;
}
.second-section_left-container {
  position: absolute;
  top: 100px;
  left: 50px;
}
.second-section_left-container a {
  color: #fff;
  background-color: #3CB371;
  padding: 10px 15px;
  border: 20px;
}
.second-section_left-container a:hover {
  opacity: 0.8;
  transition: 0.3s ease-out;
}
.btn2{
  margin: 0 3px;
  background-color: #3CB371 !important;
  text-align: center;
  }
  .btn-lg{
    border-radius: 0px !important;
  }
.btn2 a:hover {
  opacity: 0.8;
  transition: 0.3s ease-out;
}
.second-section_right {
  position: relative;
}
.second-section_right img {
  position: absolute;
  top: 20px;
  left: 0px;
  height: 300px;
  width: 700px;
}
.blue {
 
  height: 50px;
  background-color: powderblue;
  text-align: center;
}

.lemon-bg{
  height: 140px;
  background: rgb(212, 239, 249);
  width: 100%;
}

.lemon-bg > .banner-header {
  text-align: center;
  font-weight: 700 !important;
  padding: 20px 0px;
  font-size: 24px;
    color: #3CB371;
}
.card {
    
    height:150px;
    margin-left: 30px;
    box-shadow: 0px 0px 10px #88888847;
    
  }

.card-body{
  background-color: #ffffff;
}
.p-tag1{
  padding: 13px 5px 7px 5px;
  background-color: rgb(212, 239, 249);
  width: 66px;
  text-align: center;
  border-radius: 50%;
  margin-top:22px;
  
  }
  .p-tag1 p{
    font-weight: bold;
    background: inherit;
    font-size: 27px;
    vertical-align: middle;
    color: #3CB371;
  }
  .card-title{
    padding-top: 10px;
    color: #3CB371;
    font-size: 20px;
  }
.sponsor,.sponsor1{
  text-align: center;
}

.sponsor h1{
  font-size: 30px;
  padding-bottom: 5px;
  padding-top:70px;
}
.sponsor1 h1{
  font-size: 30px;
  color: #3CB371;
  padding-bottom: 5px;
  padding-top:70px;
}
.sponsor p{
  font-size: 18px;
  padding-bottom: 40px;
}
.card1 {
    
  height:400px;
  margin-left: 30px;
  box-shadow: 0px 0px 10px #88888847;
  
}
.caaa{
  background: #F8F8FF;
  
}
.location {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.location p {
  font-size: 15px;
}
.description {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.description p:first-child {
  color: #3CB371;
  font-size: 15px;
}
.description p:last-child {
  margin-top: -5px;
  font-size: 14px;
  font-weight: bold;
}
.progress{
  background-color: darkgray;
  border-radius: 20px;
  margin: 10px 10px;
}
.progress-bar {
  background-color: #3CB371 !important;
  border-radius: 20px;
}
.funding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.funding p {
  font-size: 10px;
}
.funding a {
  color: #fff;
  background-color: #3CB371;
  padding: 7px 20px;
  font-weight: bold;
}
.btn3{
  margin: 10px 3px;
}
.direct{
    color: #3CB371;
    font-weight: bold;
    font-family: Gilroy-Bold;
    text-align: center;
    padding-top: 60px;
    font-size: 18px;
}
.row{
  margin-right: 15px;
  margin-left: 15px;
}
.row:before{
  display: flex;
  content: "";
}
.hidep1{
  font-size: 20px;
    line-height: 1.22;
    color: #3CB371;
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
}
.hidep2{
  font-size: 13px;
    text-align: center;
    font-weight: 400;
}
    
.forth-section{
  margin: auto;
  padding-top: 50px;
}
.forth{
  height: 60vh;
}
.cards {
    
  height:150px;
  margin-left: 30px;
}

.shield{
  width: 50px;
  background: #32CD32;
  border-radius: 50%;
  padding: 10px;
}
.shield1{
  width: 50px;
  background: #FFA500;
  border-radius: 50%;
  padding: 10px;
}
.shield2{
  width: 50px;
  background: #191970;
  border-radius: 50%;
  padding: 10px;
}

.testimonials-image {
  width: 30%;
  border-radius: 100%;
  margin: 20px;
}
.row1{
  margin-right: 150px;
  margin-left: 150px;
  display: flex;
  height: 60%;
}
.card2 {
    
  height:250px;
  margin-left: 30px;
  box-shadow: 0px 0px 10px #88888847;
  
}
.card-textz{
  font-size: 14px;
  text-align: center;
  color: #6565a3;
}
.last{
  height: 60vh;
}
.sponsor2{
  text-align: center;
}
.sponsor2 h1{
  font-size: 30px;
  color: black;
  padding-bottom: 50px;
}
.big-box{
      background: #3CB371;
      height:250px;
      border-radius: 20px;
      width: 80%;
      background-size:100% 50%;
      border-radius: 20px;
      text-align:center;
      line-height:50px;
      padding-top: 40px;
      margin-left: 90px;
      color: green;

}
.big-box h1{
  color: white;
  font-size: 23px;
  font-weight: bold;
}
.big-box p{
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.btn0{
  padding: 0px 45px;
  border-radius: 50px;
  border: 1px solid transparent;
}
.footer{
  width: 100%;
  padding-top: 60px;
  display: block;
}
.inner-footer {
  width: 95%;
  margin: auto;
  padding: 15px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  color: rgb(84, 209, 88);
}
.footer-items {
  width: 25%;
  padding: 5px 10px;
  box-sizing: border-box;
}
.small-footer-items {
  width: 15%;
  padding: 5px 10px;
  box-sizing: border-box;
  
}
.small-footer-items h4{
font-weight: bold;
}

.footer-items h1{
  padding: 10px 0;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.footer-items p {
  font-size: 13px;
  text-align: justify;
  line-height: 25px;
}
.footer-items h3{
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
  color: rgb(84, 209, 88);
}

ul {
  list-style: none;
  font-size: 15px;
  letter-spacing: 0.5px;
}
ul a {
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}
ul li {
  margin: 10px 0;
  height: 25px;

}
li i{
  margin-right: 20px;
}
.small-footer-items a{
  color: rgb(84, 209, 88) !important;
  font-weight: lighter;
  font-size: 13px;
}


